In [ ]:
!pip install fastavro confluent-kafka

Collecting fastavro
  Downloading fastavro-1.10.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.5 kB)
Collecting confluent-kafka
  Downloading confluent_kafka-2.10.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (22 kB)
Downloading fastavro-1.10.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.3/3.3 MB 17.9 MB/s eta 0:00:00
Downloading confluent_kafka-2.10.0-cp311-cp311-manylinux_2_28_x86_64.whl (3.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.8/3.8 MB 30.4 MB/s eta 0:00:00
Installing collected packages: fastavro, confluent-kafka
Successfully installed confluent-kafka-2.10.0 fastavro-1.10.0

# Spark Setup

Reference: https://spark.apache.org/docs/latest/structured-streaming-kafka-integration.html

In [ ]:
import os
import subprocess

# Fetch the latest Spark 3.x.x version
# curl -s https://downloads.apache.org/spark/ → Fetches the Spark download page.
# grep -o 'spark-3\.[0-9]\+\.[0-9]\+' → Extracts only versions that start with spark-3. (ignoring Spark 4.x if it exists in the future).

# sort -V → Sorts the versions numerically.
# tail -1 → Selects the latest version.
spark_version = subprocess.run(
    "curl -s https://downloads.apache.org/spark/ | grep -o 'spark-3\\.[0-9]\\+\\.[0-9]\\+' | sort -V | tail -1",
    shell=True, capture_output=True, text=True
).stdout.strip()

spark_version

'spark-3.5.5'

In [ ]:
spark_release=spark_version
hadoop_version='hadoop3'

import os, time
start=time.time()
os.environ['SPARK_RELEASE']=spark_release
os.environ['HADOOP_VERSION']=hadoop_version
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_release}-bin-{hadoop_version}"

In [ ]:
# Run below commands in google colab
!apt-get install openjdk-8-jdk-headless -qq > /dev/null # install Java8
!wget -q http://apache.osuosl.org/spark/${SPARK_RELEASE}/${SPARK_RELEASE}-bin-${HADOOP_VERSION}.tgz # download spark-3.3.X
!tar xf ${SPARK_RELEASE}-bin-${HADOOP_VERSION}.tgz # unzip it

!pip install -q findspark # install findspark
# findspark find your Spark Distribution and sets necessary environment variables

import findspark
findspark.init()

# Check the pyspark version
import pyspark
print(pyspark.__version__)

3.5.5

# Define the configuration details for your Spark job:

Create your Spark session. You must define details of the Kafka Cluster to connect to, topic name and consumer group name.

- kafka_brokers: List of Kafka bootstrap servers  
- topic_name: The Kafka topic to read messages from
- consumer_group: This allows you to use different Spark jobs to consume the same topic messages and implement different analytics
- schema: the AVRO schema of topic messages

In [ ]:
!pip install python-dotenv
import os
from dotenv import load_dotenv

event_hub_namespace = os.environ.get("event_hub_namespace")

passengers_eventhub_name=os.environ.get("passengers_eventhub_name")
passengers_conn_str=os.environ.get("passengers_conn_str")

drivers_eventhub_name=os.environ.get("drivers_eventhub_name")
drivers_conn_str=os.environ.get("drivers_conn_str")

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.avro.functions import from_avro

# Define the schema (from github)
with open("passengerschemav2.json") as f:
    schema = f.read()

with open("driver_schema.json") as e:
    special_schema = e.read()

# Create a Spark session
spark = SparkSession \
    .builder \
    .appName("StreamingAVROFromKafka") \
    .config("spark.streaming.stopGracefullyOnShutdown", True) \
    .config('spark.jars.packages', 'org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0,org.apache.spark:spark-avro_2.12:3.5.0') \
    .config("spark.sql.shuffle.partitions", 4) \
    .master("local[*]") \
    .getOrCreate()

In [ ]:
kafkaConf_rides = {
    "kafka.bootstrap.servers": f"{event_hub_namespace}.servicebus.windows.net:9093",
    # Below settins required if kafka is secured, for example when connecting to Azure Event Hubs:
    "kafka.sasl.mechanism": "PLAIN",
    "kafka.security.protocol": "SASL_SSL",
    "kafka.sasl.jaas.config": f'org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="{passengers_conn_str}";',

    "subscribe": passengers_eventhub_name,
    "startingOffsets": "latest", # "latest", "earliest", (by choosing earliest, you will consume all the data on the event hub immediately)
        # by choosing "latest", you will consume only newly arriving data.



    "enable.auto.commit": "true ",
    "groupIdPrefix": "debug_specials_",
    "auto.commit.interval.ms": "5000"
}

kafkaConf_specials = {
    "kafka.bootstrap.servers": f"{event_hub_namespace}.servicebus.windows.net:9093",
    # Below settins required if kafka is secured, for example when connecting to Azure Event Hubs:
    "kafka.sasl.mechanism": "PLAIN",
    "kafka.security.protocol": "SASL_SSL",
    "kafka.sasl.jaas.config": f'org.apache.kafka.common.security.plain.PlainLoginModule required username="$ConnectionString" password="{drivers_conn_str}";',

    "subscribe": drivers_eventhub_name,
    "startingOffsets": "latest", # "latest", "earliest", (by choosing earliest, you will consume all the data on the event hub immediately)
        # by choosing "latest", you will consume only newly arriving data.



    "enable.auto.commit": "true ",
    "groupIdPrefix": "debug_specials_",
    "auto.commit.interval.ms": "5000"
}

In [ ]:
# Read from Event Hub using Kafka
df_rides = spark \
    .readStream \
    .format("kafka") \
    .options(**kafkaConf_rides) \
    .load()

# Deserialize the AVRO messages from the value column
df_passenger = df_rides.select(from_avro(df_rides.value, schema, {"mode": "PERMISSIVE"}).alias("passenger_events"))

# Read from Event Hub using Kafka
df_driver = spark \
    .readStream \
    .format("kafka") \
    .options(**kafkaConf_specials) \
    .load()

# Deserialize the AVRO messages from the value column
df_driver = df_driver.select(from_avro(df_driver.value, special_schema, {"mode": "PERMISSIVE"}).alias("driver_event"))

In [ ]:
# Flatten the schemas
from pyspark.sql.functions import col

df_passenger = df_passenger.select(
    col("passenger_events.request_id"),
    col("passenger_events.passenger_id"),
    col("passenger_events.timestamp"),
    col("passenger_events.pickup_location.latitude").alias("pickup_latitude"),
    col("passenger_events.pickup_location.longitude").alias("pickup_longitude"),
    col("passenger_events.dropoff_location.latitude").alias("dropoff_latitude"),
    col("passenger_events.dropoff_location.longitude").alias("dropoff_longitude"),
    col("passenger_events.vehicle_type"),
    col("passenger_events.passenger_preferences.music").alias("music_preference"),
    col("passenger_events.passenger_preferences.temperature").alias("preferred_temperature"),
    col("passenger_events.passenger_preferences.quiet_ride").alias("quiet_ride"),
    col("passenger_events.payment_info.payment_method").alias("payment_method"),
    col("passenger_events.payment_info.coupon_codes").alias("coupon_codes"),
    col("passenger_events.payment_info.loyalty_points_used").alias("loyalty_points_used"),
    col("passenger_events.estimated_fare"),
    col("passenger_events.text_messages"),
    col("passenger_events.driver_rating"),
    col("passenger_events.status"),
    col("passenger_events.driver_id"),
    col("passenger_events.request_timestamp"),
    col("passenger_events.accepted_timestamp"),
    col("passenger_events.ride_duration")
)

df_driver = df_driver.select(
      col("driver_event.driver_id"),
      col("driver_event.timestamp"),
      col("driver_event.latitude"),
      col("driver_event.longitude"),
      col("driver_event.status")
    )

# Analytical Queries

Your Spark job and input messages are ready to be worked on. Now, you can apply any transformations required to answer business questions.

IMPORTANT NOTE: if in config you chose "startingOffsets": "latest", then you must send data AFTER running df.writeStream...
In other words, Spark will only start 'consuming' events after you run .writeStream, meaning that it will show up as empty if no new events have been sent after running .writeStream. (For this to be a real-time analytics case, it should be set to latest, so our stats update as new data comes in. For testing purposes, easier to set it to 'earliest' cause then you just send once and can work with that).

## Setup of Query

In [ ]:
!mkdir checkpoint

In [ ]:
# If offset:Latest, send new events after running this cell.
query_name='all_passengers'
query_passengers=df_passenger.writeStream \
    .outputMode("update") \
    .format("memory") \
    .queryName(query_name) \
    .start()

In [ ]:
# If offset:Latest, send new events after running this cell.
query_name='all_drivers'
query_drivers=df_driver.writeStream \
    .outputMode("update") \
    .format("memory") \
    .queryName(query_name) \
    .start()

In [ ]:
spark.sql('show tables').show()

+---------+--------------+-----------+
|namespace|     tableName|isTemporary|
+---------+--------------+-----------+
|         |   all_drivers|       true|
|         |all_passengers|       true|
+---------+--------------+-----------+

In [ ]:
active_queries = spark.streams.active

# Print details about each active query
for query in active_queries:
    print(f"Query Name: {query.name}")
    print(f"Query ID: {query.id}")
    print(f"Query Status: {query.status}")
    print(f"Is Query Active: {query.isActive}")
    print("-" * 50)

Query Name: status_counts
Query ID: 5b9c87df-d4d7-4151-b849-c3bf40c3fb04
Query Status: {'message': 'Processing new data', 'isDataAvailable': True, 'isTriggerActive': True}
Is Query Active: True
--------------------------------------------------
Query Name: all_passengers
Query ID: 82a391d0-397b-4f52-aff5-22a743ab33a9
Query Status: {'message': 'Processing new data', 'isDataAvailable': True, 'isTriggerActive': True}
Is Query Active: True
--------------------------------------------------
Query Name: ride_duration_sql
Query ID: 002a295a-265d-4ac4-8ec1-1a2d58f63651
Query Status: {'message': 'Processing new data', 'isDataAvailable': True, 'isTriggerActive': True}
Is Query Active: True
--------------------------------------------------
Query Name: response_time_sql4
Query ID: 2399ebe6-dfde-4ddd-982f-d5660e69f436
Query Status: {'message': 'Processing new data', 'isDataAvailable': True, 'isTriggerActive': True}
Is Query Active: True
--------------------------------------------------
Query Name: driver_metrics_sql
Query ID: f9d08ccb-210d-45ab-84b7-101418e7550f
Query Status: {'message': 'Processing new data', 'isDataAvailable': True, 'isTriggerActive': True}
Is Query Active: True
--------------------------------------------------
Query Name: all_drivers
Query ID: 61ac0892-ce27-4f30-9901-b77aa577d13e
Query Status: {'message': 'Processing new data', 'isDataAvailable': True, 'isTriggerActive': True}
Is Query Active: True
--------------------------------------------------
Query Name: demand_supply_sql
Query ID: 4a731c54-92e4-4be4-a8b7-d0c9546f8313
Query Status: {'message': 'Processing new data', 'isDataAvailable': True, 'isTriggerActive': True}
Is Query Active: True
--------------------------------------------------

In [ ]:
# Status either "Processing new data" or "Getting offsets from..."
query_passengers.status

{'message': 'Processing new data',
 'isDataAvailable': True,
 'isTriggerActive': True}

In [ ]:
query_drivers.status

{'message': 'Processing new data',
 'isDataAvailable': True,
 'isTriggerActive': True}

In [ ]:
print(spark.sql(f'SELECT count(*) as record_count FROM all_drivers').show(20, truncate=True))

+------------+
|record_count|
+------------+
|      116030|
+------------+

None

In [ ]:
print(spark.sql(f'SELECT count(*) as record_count FROM all_passengers').show(20, truncate=True))

+------------+
|record_count|
+------------+
|         535|
+------------+

None

In [ ]:
print(spark.sql(f'SELECT * FROM all_passengers').show(20, truncate=True))

+-------------------+------------+-------------+------------------+------------------+------------------+------------------+------------+----------------+---------------------+----------+--------------+------------+-------------------+--------------+--------------------+-------------+-----------+----------+-----------------+------------------+-------------+
|         request_id|passenger_id|    timestamp|   pickup_latitude|  pickup_longitude|  dropoff_latitude| dropoff_longitude|vehicle_type|music_preference|preferred_temperature|quiet_ride|payment_method|coupon_codes|loyalty_points_used|estimated_fare|       text_messages|driver_rating|     status| driver_id|request_timestamp|accepted_timestamp|ride_duration|
+-------------------+------------+-------------+------------------+------------------+------------------+------------------+------------+----------------+---------------------+----------+--------------+------------+-------------------+--------------+--------------------+-------------+-----------+----------+-----------------+------------------+-------------+
|REQ-1745433870-5919|      P00580|1745433870776|42.202535152975116|-73.73371900526614| 39.33286468226331|-74.83612497733465|      LUXURY|             POP|                   19|      true|    DEBIT_CARD|          []|               NULL|      500.1123|                  []|          2.0|  COMPLETED|driver_286|    1745433870776|     1745464900533|    39808.984|
|REQ-1745434588-7681|      P00306|1745434588021|40.823559149223044|-73.88179527255517| 40.79887568635326| -73.9033731132494|     ECONOMY|   NO_PREFERENCE|                   20|     false|        PAYPAL|          []|               NULL|      20.63314|                  []|         NULL|  COMPLETED|driver_119|    1745434588021|     1745434660601|    394.23447|
|REQ-1745434593-1745|      P00444|1745434593060| 40.70990070721034|-73.97672482758705| 40.69589162609156|-73.93588894743102|     ECONOMY|            ROCK|                   26|     false|   CREDIT_CARD|          []|               NULL|      8.157659|                  []|          1.9|  COMPLETED|driver_294|    1745434593060|     1745434769551|     452.6127|
|REQ-1745434590-6353|      P00332|1745434590036| 40.65163882204543| -73.9550313300839|40.630428390018636|-74.06174310695687|     ECONOMY|   NO_PREFERENCE|                   23|     false|     APPLE_PAY|          []|               NULL|     16.436935|                  []|         NULL|  CANCELLED|driver_213|    1745434590036|     1745434652512|    352.81882|
|REQ-1745434595-6738|      P00095|1745434595072| 40.64253762981028| -74.0062182751312|40.657140871253645|-73.97429152700818|     ECONOMY|            JAZZ|                   25|     false|    GOOGLE_PAY|          []|               NULL|     7.2093534|                  []|          1.4|  COMPLETED|driver_241|    1745434595072|     1745434953714|    376.74826|
|REQ-1745434595-4556|      P00134|1745434595072| 40.66298268207481|-74.01024535647939| 40.66751227911622|-74.05545275073858|     ECONOMY|            JAZZ|                   19|      true|   CREDIT_CARD|          []|               NULL|      8.259072|                  []|          3.2|  COMPLETED|driver_082|    1745434595072|     1745434963790|    460.72577|
|REQ-1745434590-6777|      P00135|1745434590035| 40.68775422439305|-73.94439415892236| 40.61275621640599|-73.93586595287412|     ECONOMY|   NO_PREFERENCE|                   22|      true|          CASH|          []|               NULL|      81.84935|                  []|         NULL|  CANCELLED|driver_107|    1745434590035|     1745434900127|    452.94318|
|REQ-1745434589-5926|      P00549|1745434589029| 40.70468764457563|-74.03792759459698| 40.60887771558895|-73.97146354076936|     ECONOMY|            ROCK|                   19|      true|     APPLE_PAY|          []|               NULL|     20.526543|                  []|         NULL|  COMPLETED|driver_155|    1745434589029|     1745434739614|    1442.1234|
|REQ-1745434588-5015|      P00009|1745434588023| 40.89131231931289|-73.87438830358397| 40.74623757884058|-73.89439053929942|     ECONOMY|       CLASSICAL|                   23|     false|          CASH|          []|               NULL|     145.83531|[{SYS-1745434588-...|         NULL|  CANCELLED|driver_219|    1745434588023|     1745434703757|    743.64996|
|REQ-1745434592-6518|      P00457|1745434592050| 40.82827847475717|-74.12123165921614|  40.7467049643736|-74.11578853487036|      LUXURY|            ROCK|                   21|      true|     APPLE_PAY|          []|                 16|     16.099312|                  []|          2.5|  COMPLETED|driver_214|    1745434592050|     1745435206769|     1087.945|
|REQ-1745434594-4194|      P00060|1745434594066|40.812379899994035|-74.04486716233988| 40.69278949248748|-74.05701494406178|     ECONOMY|            JAZZ|                   24|      true|    DEBIT_CARD|          []|               NULL|     22.470667|                  []|          3.8|IN_PROGRESS|driver_124|    1745434594066|     1745434702607|     142.5226|
|REQ-1745434589-4096|      P00205|1745434589028|40.747365884813505|-74.05177880677255| 40.80957880433938|-73.84989991446196|     ECONOMY|       CLASSICAL|                   22|     false|    DEBIT_CARD|    [SAVE44]|               NULL|     163.22467|                  []|          1.8|  CANCELLED|driver_200|    1745434589028|     1745434642678|    367.21957|
|REQ-1745434593-4305|      P00432|1745434593060| 40.88020177599314|-74.00608813548476| 40.74138875400309|-73.94081607249944|         SUV|             POP|                   24|     false|          CASH|          []|               NULL|     27.032446|                  []|         NULL|  COMPLETED|driver_255|    1745434593060|     1745434826763|    1962.5957|
|REQ-1745434590-8863|      P00453|1745434590035|40.851698359803414|-73.88367527438862| 40.65288431619948|-74.00529985574143|     ECONOMY|            JAZZ|                   26|     false|          CASH|          []|               NULL|     38.984383|                  []|         NULL|  COMPLETED|driver_018|    1745434590035|     1745434764243|    2918.7505|
|REQ-1745434593-8837|      P00074|1745434593059| 40.77216222094563|-73.89229838939146| 40.70990263447101|-74.13615234211295|     ECONOMY|   NO_PREFERENCE|                   18|      true|    GOOGLE_PAY|          []|                 76|      34.96219|                  []|          3.1|  COMPLETED|driver_157|    1745434593059|     1745434794558|     2596.975|
|REQ-1745434591-9092|      P00331|1745434591041| 40.84046775033981|-73.85253374687005| 40.64923322613395|-74.03123486403747|     ECONOMY|       CLASSICAL|                   20|      true|    DEBIT_CARD|          []|               NULL|     226.01202|                  []|         NULL|  COMPLETED|driver_118|    1745434591041|     1745434842280|     3120.993|
|REQ-1745434588-4629|      P00585|1745434588022|  40.8880697331782|-73.93994299053192| 40.62483934326531|-73.92368643794461|     ECONOMY|             POP|                   26|     false|   CREDIT_CARD|    [SAVE28]|               NULL|     252.49042|                  []|         NULL|  COMPLETED|driver_099|    1745434588022|     1745434728394|    3510.0632|
|REQ-1745434614-5253|      P00356|1745434614098| 40.77781013328819|-74.03024429975638|40.781300269585834|-74.13137663004457|     ECONOMY|         HIP_HOP|                   26|      true|   CREDIT_CARD|          []|               NULL|     27.135727|                  []|         NULL|  COMPLETED|driver_218|    1745434614098|     1745434701690|    1021.1077|
|REQ-1745434594-5950|      P00310|1745434594066| 40.89159069705073|-74.00894675793641| 40.65894604166474|-73.96350897479812|     ECONOMY|       CLASSICAL|                   22|     false|    GOOGLE_PAY|          []|               NULL|      74.05639|                  []|         NULL|  COMPLETED|driver_278|    1745434594066|     1745434800124|    3132.5376|
|REQ-1745434617-4749|      P00175|1745434617130| 40.80169806793381|-74.10670520408357|40.744814288800235|-74.07597429386004|         SUV|   NO_PREFERENCE|                   25|     false|          CASH|    [SAVE44]|               NULL|     12.733148|                  []|          4.0|  COMPLETED|driver_193|    1745434617130|     1745435305326|    818.65186|
+-------------------+------------+-------------+------------------+------------------+------------------+------------------+------------+----------------+---------------------+----------+--------------+------------+-------------------+--------------+--------------------+-------------+-----------+----------+-----------------+------------------+-------------+
only showing top 20 rows

None

In [ ]:
print(spark.sql(f'SELECT * FROM all_drivers').show(20, truncate=True))

+----------+-------------+------------------+------------------+---------+
| driver_id|    timestamp|          latitude|         longitude|   status|
+----------+-------------+------------------+------------------+---------+
|driver_286|1745434579166| 39.33286468226331|-74.83612497733465|AVAILABLE|
|driver_003|1745434588018|  40.7473101765056|-74.00916149075474|  OFFLINE|
|driver_004|1745434588018| 40.76182214782082|-73.87144994657183|AVAILABLE|
|driver_006|1745434588018| 40.78862051110513| -74.0016071273915|AVAILABLE|
|driver_007|1745434588018|  40.6011054271701|-74.07100029862085|AVAILABLE|
|driver_010|1745434588018| 40.64571990296338|-73.85426034232256|  OFFLINE|
|driver_013|1745434588018|40.695090755677185|-73.99588073073915|AVAILABLE|
|driver_018|1745434588018| 40.86255608741879|-73.87403509187507|AVAILABLE|
|driver_019|1745434588018| 40.68342131565475|-73.89520028184695|AVAILABLE|
|driver_020|1745434588018|  40.8298137586657|-74.02561874207238|  OFFLINE|
|driver_022|1745434588018| 40.68830393701036|-74.10235882437439|AVAILABLE|
|driver_023|1745434588018| 40.86601731978925|-74.02671862950385|AVAILABLE|
|driver_026|1745434588018|40.860149493826775|-74.05353564444171|  OFFLINE|
|driver_029|1745434588018| 40.63179786575676|-73.93573008084908|AVAILABLE|
|driver_031|1745434588018|40.681436881823835|-73.88932988514811|AVAILABLE|
|driver_032|1745434588018|40.633310147793686|-73.97889238307192|AVAILABLE|
|driver_033|1745434588018| 40.73079995368281|-74.04777445212584|  OFFLINE|
|driver_034|1745434588018|40.639709307808495|-73.92333794768874|AVAILABLE|
|driver_035|1745434588018| 40.70175689777151|-73.93459521671654|AVAILABLE|
|driver_036|1745434588018| 40.68395058558354|-73.86878003059101|  OFFLINE|
+----------+-------------+------------------+------------------+---------+
only showing top 20 rows

None

### Github

In [ ]:
# Write df_passenger to CSV
query_passengers_to_csv = df_passenger.writeStream \
    .format("csv") \
    .option("path", "/tmp/passengers_stream_output") \
    .option("checkpointLocation", "/tmp/passengers_checkpoint") \
    .outputMode("append") \
    .start()

# Write df_driver to CSV
query_drivers_to_csv = df_driver.writeStream \
    .format("csv") \
    .option("path", "/tmp/drivers_stream_output") \
    .option("checkpointLocation", "/tmp/drivers_checkpoint") \
    .outputMode("append") \
    .start()

time.sleep(35) # PRODUCER SHOULD BE SEIDNING NOW!!!

query_passengers_to_csv.stop()
query_drivers_to_csv.stop()

import os
import glob
import shutil

# Collect from memory sink and drop unsupported columns
drivers_df = spark.sql("SELECT * FROM all_drivers")
passengers_df = spark.sql("SELECT * FROM all_passengers").drop("coupon_codes", "text_messages")

# Coalesce to 1 partition and write with header
drivers_df.coalesce(1).write.option("header", True).mode("overwrite").csv("/tmp/final_drivers_single")
passengers_df.coalesce(1).write.option("header", True).mode("overwrite").csv("/tmp/final_passengers_single")

# Rename single part file for drivers
driver_csv = glob.glob("/tmp/final_drivers_single/part-*.csv")[0]
os.rename(driver_csv, "/tmp/final_drivers_single/drivers.csv")

# Rename single part file for passengers
passenger_csv = glob.glob("/tmp/final_passengers_single/part-*.csv")[0]
os.rename(passenger_csv, "/tmp/final_passengers_single/passengers.csv")

# Zip folders
shutil.make_archive("/tmp/final_drivers_csv_single", 'zip', "/tmp/final_drivers_single")
shutil.make_archive("/tmp/final_passengers_csv_single", 'zip', "/tmp/final_passengers_single")

# Move for download
!cp /tmp/final_drivers_csv_single.zip /content/final_drivers_csv_single.zip
!cp /tmp/final_passengers_csv_single.zip /content/final_passengers_csv_single.zip

In [ ]:
from datetime import datetime
import os
from pyspark.sql.functions import col
import getpass

# Define repository details
colleagues_username = "esanchezmex"
repo_name = "RideHailDataGen"

# Get your GitHub Personal Access Token securely
print("Enter your GitHub Personal Access Token (it won't be displayed):")
personal_access_token = getpass.getpass()

# Repository URL with embedded credentials
authenticated_url = f"https://Markibariki1:{personal_access_token}@github.com/{colleagues_username}/{repo_name}.git"

# Configure git
!git config --global user.name "Markibariki1"
!git config --global user.email "mhaupter.ieu2021@student.ie.edu"

# Create a new temporary directory (clean previous attempts)
!rm -rf /tmp/github_export
!mkdir -p /tmp/github_export

try:
    # Clone the repository with authentication
    !git clone {authenticated_url} /tmp/github_export

    # For drivers - handle the nested structure properly
    drivers_df = spark.sql("SELECT * FROM all_drivers")
    flattened_drivers = drivers_df.select(
        col("driver_event.driver_id"),
        col("driver_event.timestamp"),
        col("driver_event.latitude"),
        col("driver_event.longitude"),
        col("driver_event.status")
    )

    # For passengers - drop unsupported columns
    passengers_df = spark.sql("SELECT * FROM all_passengers").drop("coupon_codes", "text_messages")

    # Save the dataframes as CSV files
    flattened_drivers.coalesce(1).write.option("header", True).mode("overwrite").csv("/tmp/github_export/drivers_temp")
    passengers_df.coalesce(1).write.option("header", True).mode("overwrite").csv("/tmp/github_export/passengers_temp")

    # Rename the part files
    !find /tmp/github_export/drivers_temp -name "part-*.csv" -exec mv {} /tmp/github_export/drivers.csv \;
    !find /tmp/github_export/passengers_temp -name "part-*.csv" -exec mv {} /tmp/github_export/passengers.csv \;

    # Clean up
    !rm -rf /tmp/github_export/drivers_temp /tmp/github_export/passengers_temp

    # Update README
    with open("/tmp/github_export/README.md", "w") as f:
        f.write("# Ride Hailing Data Export\n\n")
        f.write("This repository contains data exported from a ride-hailing simulation.\n\n")
        f.write("## Files\n\n")
        f.write("- `drivers.csv`: Driver location and status data\n")
        f.write("- `passengers.csv`: Passenger ride request data\n\n")
        f.write(f"Last updated: {datetime.now().strftime('%Y-%m-%d %H:%M:%S')}")

    # Commit and push changes with embedded credentials
    !cd /tmp/github_export && git add .
    !cd /tmp/github_export && git commit -m "Update ride-hailing data"
    !cd /tmp/github_export && git push {authenticated_url}

    print(f"✅ Data successfully pushed to GitHub: https://github.com/{colleagues_username}/{repo_name}")

except Exception as e:
    print(f"❌ Error: {str(e)}")
    import traceback
    traceback.print_exc()

# Transformation 1: number of driver updates per status

In [ ]:
from pyspark.sql.functions import from_unixtime, col

df_driver_ts = df_driver.withColumn(
    "timestamp_ts",
    from_unixtime(col("timestamp") / 1000).cast("timestamp")
)

df_driver_ts.createOrReplaceTempView("driver_events_view")

In [ ]:
ride_metrics_query = spark.sql("""
    SELECT
        'ride_metrics' AS metric_type,
        status AS dimension,
        COUNT(*) AS metric_value,
        window(timestamp_ts, '1 hour') AS window_interval
    FROM driver_events_view
    GROUP BY window(timestamp_ts, '1 hour'), status
""")

In [ ]:
ride_metrics_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("driver_metrics_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM driver_metrics_sql").show(truncate=False)

+------------+---------+------------+------------------------------------------+
|metric_type |dimension|metric_value|window_interval                           |
+------------+---------+------------+------------------------------------------+
|ride_metrics|ON_RIDE  |45351       |{2025-04-23 19:00:00, 2025-04-23 20:00:00}|
|ride_metrics|AVAILABLE|119317      |{2025-04-23 19:00:00, 2025-04-23 20:00:00}|
|ride_metrics|OFFLINE  |394802      |{2025-04-23 19:00:00, 2025-04-23 20:00:00}|
+------------+---------+------------+------------------------------------------+

# Transformation 2: Trips status

In [ ]:
df_passenger.groupBy("status").count() \
    .writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("status_counts") \
    .start()

In [ ]:
spark.sql("SELECT * FROM status_counts").show()

+-----------+-----+
|     status|count|
+-----------+-----+
|  CANCELLED|   21|
|IN_PROGRESS|   10|
|  COMPLETED|  356|
+-----------+-----+

# Transformation 3: average response time per vehicle type

In [ ]:
from pyspark.sql.functions import col, from_unixtime, window, unix_timestamp

df_passenger_ts = df_passenger.withColumn(
    "timestamp_ts", from_unixtime(col("timestamp") / 1000).cast("timestamp")
).withColumn(
    "request_ts", from_unixtime(col("request_timestamp") / 1000).cast("timestamp")
).withColumn(
    "accepted_ts", from_unixtime(col("accepted_timestamp") / 1000).cast("timestamp")
)

df_passenger_ts.createOrReplaceTempView("passenger_events_view")

In [ ]:
response_time_query = spark.sql("""
    SELECT
        'response_time' AS metric_type,
        vehicle_type AS dimension,
        AVG((unix_timestamp(accepted_ts) - unix_timestamp(request_ts)) / 60.0) AS metric_value,
        window(timestamp_ts, '15 minutes', '5 minutes').end AS window_end
    FROM passenger_events_view
    WHERE status = 'COMPLETED'
    GROUP BY window(timestamp_ts, '15 minutes', '5 minutes'), vehicle_type
""")

In [ ]:
response_time_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("response_time_sql4") \
    .start()

In [ ]:
spark.sql("SELECT * FROM response_time_sql4").show(truncate=False)

+-------------+---------+-------------+-------------------+
|metric_type  |dimension|metric_value |window_end         |
+-------------+---------+-------------+-------------------+
|response_time|POOL     |35.2111111667|2025-04-23 19:30:00|
|response_time|SUV      |14.0258332500|2025-04-23 19:10:00|
|response_time|LUXURY   |17.5228394815|2025-04-23 19:15:00|
|response_time|ECONOMY  |7.3405833350 |2025-04-23 19:15:00|
|response_time|SUV      |13.6265431852|2025-04-23 19:20:00|
|response_time|SUV      |13.6265431852|2025-04-23 19:25:00|
|response_time|ECONOMY  |5.5629186603 |2025-04-23 19:20:00|
|response_time|POOL     |20.3666670000|2025-04-23 19:05:00|
|response_time|LUXURY   |24.0999999200|2025-04-23 19:30:00|
|response_time|LUXURY   |23.2608973462|2025-04-23 19:20:00|
|response_time|POOL     |32.9285714286|2025-04-23 19:25:00|
|response_time|POOL     |19.8000000000|2025-04-23 19:15:00|
|response_time|SUV      |13.5682539048|2025-04-23 19:15:00|
|response_time|LUXURY   |18.1089743462|2025-04-23 19:05:00|
|response_time|ECONOMY  |5.5629186603 |2025-04-23 19:25:00|
|response_time|POOL     |20.3666670000|2025-04-23 19:10:00|
|response_time|LUXURY   |23.2608973462|2025-04-23 19:25:00|
|response_time|LUXURY   |18.1089743462|2025-04-23 19:10:00|
|response_time|SUV      |14.0258332500|2025-04-23 19:05:00|
|response_time|ECONOMY  |5.8200000053 |2025-04-23 19:30:00|
+-------------+---------+-------------+-------------------+
only showing top 20 rows

# Transformation 4: average ride duration per hour of day

In [ ]:
from pyspark.sql.functions import from_unixtime, col

df_passenger_ts = df_passenger.withColumn(
    "timestamp_ts", from_unixtime(col("timestamp") / 1000).cast("timestamp")
).withColumn(
    "request_ts", from_unixtime(col("request_timestamp") / 1000).cast("timestamp")
).withColumn(
    "accepted_ts", from_unixtime(col("accepted_timestamp") / 1000).cast("timestamp")
)

df_passenger_ts.createOrReplaceTempView("passenger_events_view")

In [ ]:
from pyspark.sql.functions import hour

ride_duration_query = spark.sql("""
    SELECT
        'ride_duration' AS metric_type,
        CAST(HOUR(timestamp_ts) AS STRING) AS dimension,
        AVG(ride_duration) AS metric_value,
        window(timestamp_ts, '60 minutes', '60 minutes').end AS window_end
    FROM passenger_events_view
    WHERE status = 'COMPLETED'
    GROUP BY window(timestamp_ts, '60 minutes', '60 minutes'), HOUR(timestamp_ts)
""")

In [ ]:
ride_duration_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("ride_duration_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM ride_duration_sql").show(truncate=False)

+-------------+---------+------------------+-------------------+
|metric_type  |dimension|metric_value      |window_end         |
+-------------+---------+------------------+-------------------+
|ride_duration|19       |2066.1144578331537|2025-04-23 20:00:00|
|ride_duration|20       |1784.512392572996 |2025-04-23 21:00:00|
+-------------+---------+------------------+-------------------+

# Transformation 5: requested/accepted ratio per area

In [ ]:
from pyspark.sql.functions import col, from_unixtime, when

df_passenger_quadrant = df_passenger.withColumn(
    "timestamp", from_unixtime(col("timestamp") / 1000).cast("timestamp")
).withColumn(
    "quadrant", when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") >= -73.95), "NE")
                .when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") < -73.95), "NW")
                .when((col("pickup_latitude") < 40.75) & (col("pickup_longitude") >= -73.95), "SE")
                .otherwise("SW")
)

df_passenger_quadrant.createOrReplaceTempView("passenger_quadrant_view")

In [ ]:
ride_ratio_query = spark.sql("""
SELECT
  'request_acceptance_ratio' AS metric_type,
  quadrant AS dimension,
  SUM(CASE WHEN accepted_timestamp IS NOT NULL THEN 1 ELSE 0 END) * 1.0 /
  COUNT(*) AS metric_value,
  window(timestamp, '15 minutes', '5 minutes') AS window_interval
FROM passenger_quadrant_view
GROUP BY window(timestamp, '15 minutes', '5 minutes'), quadrant
""")

In [ ]:
ride_ratio_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("ride_ratio_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM ride_ratio_sql").show(truncate=False)

+------------------------+---------+------------------+------------------------------------------+
|metric_type             |dimension|metric_value      |window_interval                           |
+------------------------+---------+------------------+------------------------------------------+
|request_acceptance_ratio|SW       |1.0000000000000000|{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|request_acceptance_ratio|SE       |1.0000000000000000|{2025-04-23 19:30:00, 2025-04-23 19:45:00}|
|request_acceptance_ratio|NW       |1.0000000000000000|{2025-04-23 19:50:00, 2025-04-23 20:05:00}|
|request_acceptance_ratio|NW       |1.0000000000000000|{2025-04-23 19:20:00, 2025-04-23 19:35:00}|
|request_acceptance_ratio|SW       |1.0000000000000000|{2025-04-23 19:40:00, 2025-04-23 19:55:00}|
|request_acceptance_ratio|SW       |1.0000000000000000|{2025-04-23 20:05:00, 2025-04-23 20:20:00}|
|request_acceptance_ratio|NE       |1.0000000000000000|{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|request_acceptance_ratio|SE       |1.0000000000000000|{2025-04-23 19:35:00, 2025-04-23 19:50:00}|
|request_acceptance_ratio|SE       |1.0000000000000000|{2025-04-23 19:50:00, 2025-04-23 20:05:00}|
|request_acceptance_ratio|NE       |1.0000000000000000|{2025-04-23 19:55:00, 2025-04-23 20:10:00}|
|request_acceptance_ratio|NE       |1.0000000000000000|{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
|request_acceptance_ratio|NW       |1.0000000000000000|{2025-04-23 19:40:00, 2025-04-23 19:55:00}|
|request_acceptance_ratio|SW       |1.0000000000000000|{2025-04-23 19:30:00, 2025-04-23 19:45:00}|
|request_acceptance_ratio|NW       |1.0000000000000000|{2025-04-23 19:55:00, 2025-04-23 20:10:00}|
|request_acceptance_ratio|SW       |1.0000000000000000|{2025-04-23 19:35:00, 2025-04-23 19:50:00}|
|request_acceptance_ratio|NE       |1.0000000000000000|{2025-04-23 19:40:00, 2025-04-23 19:55:00}|
|request_acceptance_ratio|NW       |1.0000000000000000|{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
|request_acceptance_ratio|SE       |1.0000000000000000|{2025-04-23 19:55:00, 2025-04-23 20:10:00}|
|request_acceptance_ratio|NW       |1.0000000000000000|{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|request_acceptance_ratio|NW       |1.0000000000000000|{2025-04-23 19:45:00, 2025-04-23 20:00:00}|
+------------------------+---------+------------------+------------------------------------------+
only showing top 20 rows

# Transformation 6: average response time per vehicle type

In [ ]:
from pyspark.sql.functions import col, from_unixtime

df_passenger_ts = df_passenger.withColumn(
    "timestamp", from_unixtime(col("timestamp") / 1000).cast("timestamp")
).withColumn(
    "request_ts", from_unixtime(col("request_timestamp") / 1000).cast("timestamp")
).withColumn(
    "accepted_ts", from_unixtime(col("accepted_timestamp") / 1000).cast("timestamp")
)

df_passenger_ts.createOrReplaceTempView("passenger_events_view")

In [ ]:
response_time_query = spark.sql("""
SELECT
  'response_time' AS metric_type,
  vehicle_type AS dimension,
  AVG((unix_timestamp(accepted_ts) - unix_timestamp(request_ts)) / 60.0) AS metric_value,
  window(timestamp, '15 minutes', '5 minutes') AS window_interval
FROM passenger_events_view
WHERE status = 'COMPLETED'
GROUP BY window(timestamp, '15 minutes', '5 minutes'), vehicle_type
""")

In [ ]:
response_time_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("response_time_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM response_time_sql").show(truncate=False)

+-------------+---------+-------------+------------------------------------------+
|metric_type  |dimension|metric_value |window_interval                           |
+-------------+---------+-------------+------------------------------------------+
|response_time|LUXURY   |16.4388890000|{2025-04-23 19:15:00, 2025-04-23 19:30:00}|
|response_time|ECONOMY  |2.4843750000 |{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|response_time|SUV      |4.8250000000 |{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|response_time|LUXURY   |16.4388890000|{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|response_time|ECONOMY  |2.4843750000 |{2025-04-23 19:15:00, 2025-04-23 19:30:00}|
|response_time|SUV      |4.8250000000 |{2025-04-23 19:15:00, 2025-04-23 19:30:00}|
|response_time|SUV      |4.8250000000 |{2025-04-23 19:20:00, 2025-04-23 19:35:00}|
|response_time|ECONOMY  |2.4843750000 |{2025-04-23 19:20:00, 2025-04-23 19:35:00}|
|response_time|LUXURY   |16.4388890000|{2025-04-23 19:20:00, 2025-04-23 19:35:00}|
+-------------+---------+-------------+------------------------------------------+

# Transformation 7: Active drivers per area

Quadrants:

NE: lat ≥ 40.75 and lon ≥ -73.95

NW: lat ≥ 40.75 and lon < -73.95

SE: lat < 40.75 and lon ≥ -73.95

SW: lat < 40.75 and lon < -73.95

In [ ]:
from pyspark.sql.functions import when

df_driver_quadrant = df_driver.withColumn(
    "timestamp", from_unixtime(col("timestamp") / 1000).cast("timestamp")
).withColumn(
    "quadrant", when((col("latitude") >= 40.75) & (col("longitude") >= -73.95), "NE")
                .when((col("latitude") >= 40.75) & (col("longitude") < -73.95), "NW")
                .when((col("latitude") < 40.75) & (col("longitude") >= -73.95), "SE")
                .otherwise("SW")
)

df_driver_quadrant.createOrReplaceTempView("driver_quadrant_view")

In [ ]:
online_drivers_query = spark.sql("""
SELECT
  'online_driver_count' AS metric_type,
  quadrant AS dimension,
  COUNT(*) AS metric_value,
  window(timestamp, '15 minutes', '5 minutes') AS window_interval
FROM driver_quadrant_view
WHERE status IN ('AVAILABLE', 'ON_RIDE')
GROUP BY window(timestamp, '15 minutes', '5 minutes'), quadrant
""")

In [ ]:
online_drivers_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("online_drivers_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM online_drivers_sql").show(truncate=False)

+-------------------+---------+------------+------------------------------------------+
|metric_type        |dimension|metric_value|window_interval                           |
+-------------------+---------+------------+------------------------------------------+
|online_driver_count|SW       |477         |{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|online_driver_count|NE       |337         |{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|online_driver_count|SE       |322         |{2025-04-23 19:30:00, 2025-04-23 19:45:00}|
|online_driver_count|NW       |476         |{2025-04-23 19:20:00, 2025-04-23 19:35:00}|
|online_driver_count|SW       |477         |{2025-04-23 19:30:00, 2025-04-23 19:45:00}|
|online_driver_count|NW       |476         |{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|online_driver_count|NE       |337         |{2025-04-23 19:30:00, 2025-04-23 19:45:00}|
|online_driver_count|NW       |476         |{2025-04-23 19:30:00, 2025-04-23 19:45:00}|
|online_driver_count|SE       |322         |{2025-04-23 19:25:00, 2025-04-23 19:40:00}|
|online_driver_count|NE       |337         |{2025-04-23 19:20:00, 2025-04-23 19:35:00}|
|online_driver_count|SW       |477         |{2025-04-23 19:20:00, 2025-04-23 19:35:00}|
|online_driver_count|SE       |322         |{2025-04-23 19:20:00, 2025-04-23 19:35:00}|
+-------------------+---------+------------+------------------------------------------+

# Transformation 8: Average Wait Time per Area

In [ ]:
df_wait_ts = df_passenger.withColumn(
    "timestamp", from_unixtime(col("timestamp") / 1000).cast("timestamp")
).withColumn(
    "request_ts", from_unixtime(col("request_timestamp") / 1000).cast("timestamp")
).withColumn(
    "accepted_ts", from_unixtime(col("accepted_timestamp") / 1000).cast("timestamp")
).withColumn(
    "quadrant", when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") >= -73.95), "NE")
                .when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") < -73.95), "NW")
                .when((col("pickup_latitude") < 40.75) & (col("pickup_longitude") >= -73.95), "SE")
                .otherwise("SW")
)

df_wait_ts.createOrReplaceTempView("wait_time_quadrant_view")

In [ ]:
wait_time_query = spark.sql("""
SELECT
  'average_wait_time' AS metric_type,
  quadrant AS dimension,
  AVG(unix_timestamp(accepted_ts) - unix_timestamp(request_ts)) AS metric_value,
  window(timestamp, '15 minutes', '5 minutes') AS window_interval
FROM wait_time_quadrant_view
WHERE accepted_ts IS NOT NULL AND request_ts IS NOT NULL
GROUP BY window(timestamp, '15 minutes', '5 minutes'), quadrant
""")

In [ ]:
wait_time_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("wait_time_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM wait_time_sql").show(truncate=False)

+-----------------+---------+------------------+------------------------------------------+
|metric_type      |dimension|metric_value      |window_interval                           |
+-----------------+---------+------------------+------------------------------------------+
|average_wait_time|SW       |429.7294117647059 |{2025-04-23 19:40:00, 2025-04-23 19:55:00}|
|average_wait_time|SE       |500.62857142857143|{2025-04-23 19:35:00, 2025-04-23 19:50:00}|
|average_wait_time|NW       |484.4769230769231 |{2025-04-23 19:40:00, 2025-04-23 19:55:00}|
|average_wait_time|SW       |429.7294117647059 |{2025-04-23 19:35:00, 2025-04-23 19:50:00}|
|average_wait_time|SE       |500.62857142857143|{2025-04-23 19:40:00, 2025-04-23 19:55:00}|
|average_wait_time|NE       |430.7560975609756 |{2025-04-23 19:40:00, 2025-04-23 19:55:00}|
|average_wait_time|NW       |402.390625        |{2025-04-23 19:45:00, 2025-04-23 20:00:00}|
|average_wait_time|NW       |5738.0            |{2025-04-23 19:30:00, 2025-04-23 19:45:00}|
|average_wait_time|NE       |430.7560975609756 |{2025-04-23 19:35:00, 2025-04-23 19:50:00}|
|average_wait_time|NW       |484.4769230769231 |{2025-04-23 19:35:00, 2025-04-23 19:50:00}|
|average_wait_time|SE       |500.62857142857143|{2025-04-23 19:45:00, 2025-04-23 20:00:00}|
|average_wait_time|SW       |429.7294117647059 |{2025-04-23 19:45:00, 2025-04-23 20:00:00}|
|average_wait_time|NE       |430.7560975609756 |{2025-04-23 19:45:00, 2025-04-23 20:00:00}|
+-----------------+---------+------------------+------------------------------------------+

# Transformation 9: Driver Utilization Rate

In [ ]:
df_driver_ts = df_driver.withColumn(
    "timestamp", from_unixtime(col("timestamp") / 1000).cast("timestamp")
)

df_driver_ts.createOrReplaceTempView("driver_events_view")

In [ ]:
utilization_query = spark.sql("""
SELECT
  'driver_utilization' AS metric_type,
  'global' AS dimension,
  SUM(CASE WHEN status = 'ON_RIDE' THEN 1 ELSE 0 END) * 1.0 /
  SUM(CASE WHEN status IN ('AVAILABLE', 'ON_RIDE') THEN 1 ELSE 0 END) AS metric_value,
  window(timestamp, '15 minutes', '5 minutes') AS window_interval
FROM driver_events_view
WHERE status IN ('AVAILABLE', 'ON_RIDE')
GROUP BY window(timestamp, '15 minutes', '5 minutes')
""")

In [ ]:
utilization_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("utilization_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM utilization_sql").show(truncate=False)

+------------------+---------+------------------+------------------------------------------+
|metric_type       |dimension|metric_value      |window_interval                           |
+------------------+---------+------------------+------------------------------------------+
|driver_utilization|global   |0.2710934764850041|{2025-04-23 19:40:00, 2025-04-23 19:55:00}|
|driver_utilization|global   |0.2710934764850041|{2025-04-23 19:45:00, 2025-04-23 20:00:00}|
|driver_utilization|global   |0.3380406001765225|{2025-04-23 19:50:00, 2025-04-23 20:05:00}|
|driver_utilization|global   |0.2470252260828177|{2025-04-23 19:35:00, 2025-04-23 19:50:00}|
+------------------+---------+------------------+------------------------------------------+

# Transformation 10: Vehicle Type Demand Share

In [ ]:
df_passenger_ts = df_passenger.withColumn(
    "timestamp", from_unixtime(col("timestamp") / 1000).cast("timestamp")
)

df_passenger_ts.createOrReplaceTempView("passenger_events_view")

In [ ]:
vehicle_counts_query = spark.sql("""
SELECT
  vehicle_type,
  window(timestamp, '15 minutes', '5 minutes') AS window_interval,
  COUNT(*) AS vehicle_count
FROM passenger_events_view
WHERE status = 'COMPLETED'
GROUP BY window(timestamp, '15 minutes', '5 minutes'), vehicle_type
""")

In [ ]:
total_requests_query = spark.sql("""
SELECT
  window(timestamp, '15 minutes', '5 minutes') AS window_interval,
  COUNT(*) AS total_count
FROM passenger_events_view
WHERE status = 'COMPLETED'
GROUP BY window(timestamp, '15 minutes', '5 minutes')
""")

In [ ]:
vehicle_counts_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("vehicle_counts_sql") \
    .start()

total_requests_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("total_requests_sql") \
    .start()

In [ ]:
spark.sql("""
SELECT
  'vehicle_type_share' AS metric_type,
  vc.vehicle_type AS dimension,
  vc.window_interval,
  vc.vehicle_count * 1.0 / tr.total_count AS metric_value
FROM vehicle_counts_sql vc
JOIN total_requests_sql tr
ON vc.window_interval = tr.window_interval
""").show(truncate=False)

+------------------+---------+------------------------------------------+-------------------+
|metric_type       |dimension|window_interval                           |metric_value       |
+------------------+---------+------------------------------------------+-------------------+
|vehicle_type_share|LUXURY   |{2025-04-23 19:40:00, 2025-04-23 19:55:00}|2.0000000000000000 |
|vehicle_type_share|SUV      |{2025-04-23 19:45:00, 2025-04-23 20:00:00}|1.5000000000000000 |
|vehicle_type_share|ECONOMY  |{2025-04-23 19:45:00, 2025-04-23 20:00:00}|10.5000000000000000|
|vehicle_type_share|ECONOMY  |{2025-04-23 19:40:00, 2025-04-23 19:55:00}|10.5000000000000000|
|vehicle_type_share|LUXURY   |{2025-04-23 19:50:00, 2025-04-23 20:05:00}|2.0000000000000000 |
|vehicle_type_share|LUXURY   |{2025-04-23 19:45:00, 2025-04-23 20:00:00}|2.0000000000000000 |
|vehicle_type_share|SUV      |{2025-04-23 19:40:00, 2025-04-23 19:55:00}|1.5000000000000000 |
|vehicle_type_share|ECONOMY  |{2025-04-23 19:50:00, 2025-04-23 20:05:00}|10.5000000000000000|
|vehicle_type_share|SUV      |{2025-04-23 19:50:00, 2025-04-23 20:05:00}|1.5000000000000000 |
+------------------+---------+------------------------------------------+-------------------+

# Transformation 11: Cancellation Rate

In [ ]:
cancellation_query = spark.sql("""
SELECT
  'cancellation_rate' AS metric_type,
  'global' AS dimension,
  window(timestamp, '15 minutes', '5 minutes') AS window_interval,
  SUM(CASE WHEN status = 'CANCELLED' THEN 1 ELSE 0 END) * 1.0 /
  COUNT(*) AS metric_value
FROM passenger_events_view
GROUP BY window(timestamp, '15 minutes', '5 minutes')
""")

In [ ]:
cancellation_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("cancellation_rate_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM cancellation_rate_sql").show(truncate=False)

+-----------------+---------+------------------------------------------+------------------+
|metric_type      |dimension|window_interval                           |metric_value      |
+-----------------+---------+------------------------------------------+------------------+
|cancellation_rate|global   |{2025-04-23 19:50:00, 2025-04-23 20:05:00}|0.0588235294117647|
|cancellation_rate|global   |{2025-04-23 19:45:00, 2025-04-23 20:00:00}|0.0594059405940594|
|cancellation_rate|global   |{2025-04-23 20:00:00, 2025-04-23 20:15:00}|0.0000000000000000|
|cancellation_rate|global   |{2025-04-23 19:55:00, 2025-04-23 20:10:00}|0.0588235294117647|
+-----------------+---------+------------------------------------------+------------------+

# Transformation 12: Ride Matching Delay by Area

In [ ]:
df_match_ts = df_passenger.withColumn(
    "timestamp", from_unixtime(col("timestamp") / 1000).cast("timestamp")
).withColumn(
    "request_ts", from_unixtime(col("request_timestamp") / 1000).cast("timestamp")
).withColumn(
    "accepted_ts", from_unixtime(col("accepted_timestamp") / 1000).cast("timestamp")
).withColumn(
    "quadrant", when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") >= -73.95), "NE")
                .when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") < -73.95), "NW")
                .when((col("pickup_latitude") < 40.75) & (col("pickup_longitude") >= -73.95), "SE")
                .otherwise("SW")
)

df_match_ts.createOrReplaceTempView("matching_delay_view")

In [ ]:
match_delay_query = spark.sql("""
SELECT
  'match_delay' AS metric_type,
  quadrant AS dimension,
  AVG((unix_timestamp(accepted_ts) - unix_timestamp(request_ts)) / 60.0) AS metric_value,
  window(timestamp, '15 minutes', '5 minutes') AS window_interval
FROM matching_delay_view
WHERE accepted_ts IS NOT NULL AND request_ts IS NOT NULL
GROUP BY window(timestamp, '15 minutes', '5 minutes'), quadrant
""")

In [ ]:
match_delay_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("match_delay_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM match_delay_sql").show(truncate=False)

+-----------+---------+------------+------------------------------------------+
|metric_type|dimension|metric_value|window_interval                           |
+-----------+---------+------------+------------------------------------------+
|match_delay|NE       |8.0217948974|{2025-04-23 20:05:00, 2025-04-23 20:20:00}|
|match_delay|SW       |7.4877193509|{2025-04-23 20:05:00, 2025-04-23 20:20:00}|
|match_delay|NE       |8.0217948974|{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
|match_delay|NW       |7.1575758000|{2025-04-23 19:55:00, 2025-04-23 20:10:00}|
|match_delay|NE       |8.0217948974|{2025-04-23 19:55:00, 2025-04-23 20:10:00}|
|match_delay|SE       |6.5232142857|{2025-04-23 20:05:00, 2025-04-23 20:20:00}|
|match_delay|SW       |7.4877193509|{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
|match_delay|SW       |7.4877193509|{2025-04-23 19:55:00, 2025-04-23 20:10:00}|
|match_delay|NW       |7.1575758000|{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
|match_delay|SE       |6.5232142857|{2025-04-23 19:55:00, 2025-04-23 20:10:00}|
|match_delay|NW       |7.1575758000|{2025-04-23 20:05:00, 2025-04-23 20:20:00}|
|match_delay|SE       |6.5232142857|{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
+-----------+---------+------------+------------------------------------------+

# Transformation 13: Drive Efficiency (high-level)

**Measures the distance and sees if drivers are being efficient**

Efficiency Ratio= Ride Duration / Straight-line Distance
​

We assume Haversine distance (straight-line) is “ideal”

Duration = ride_duration in seconds

In [ ]:
from pyspark.sql.functions import col, radians, sin, cos, atan2, sqrt, lit

R = 6371.0  # Earth radius in kilometers

df_efficiency = df_passenger.withColumn(
    "pickup_lat_rad", radians(col("pickup_latitude"))
).withColumn(
    "pickup_lon_rad", radians(col("pickup_longitude"))
).withColumn(
    "dropoff_lat_rad", radians(col("dropoff_latitude"))
).withColumn(
    "dropoff_lon_rad", radians(col("dropoff_longitude"))
).withColumn(
    "dlat", col("dropoff_lat_rad") - col("pickup_lat_rad")
).withColumn(
    "dlon", col("dropoff_lon_rad") - col("pickup_lon_rad")
).withColumn(
    "a", sin(col("dlat") / 2) ** 2 + cos(col("pickup_lat_rad")) * cos(col("dropoff_lat_rad")) * sin(col("dlon") / 2) ** 2
).withColumn(
    "c", 2 * atan2(sqrt(col("a")), sqrt(1 - col("a")))
).withColumn(
    "distance_km", R * col("c")
).withColumn(
    "timestamp", from_unixtime(col("timestamp") / 1000).cast("timestamp")
)

df_efficiency.createOrReplaceTempView("route_efficiency_view")

In [ ]:
efficiency_query = spark.sql("""
SELECT
  'route_efficiency' AS metric_type,
  vehicle_type AS dimension,
  AVG(distance_km / (ride_duration / 60.0)) AS metric_value,  -- km per minute
  window(timestamp, '15 minutes', '5 minutes') AS window_interval
FROM route_efficiency_view
WHERE ride_duration > 0 AND distance_km IS NOT NULL
GROUP BY window(timestamp, '15 minutes', '5 minutes'), vehicle_type
""")

In [ ]:
efficiency_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("route_efficiency_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM route_efficiency_sql").show(truncate=False)

+----------------+---------+-------------------+------------------------------------------+
|metric_type     |dimension|metric_value       |window_interval                           |
+----------------+---------+-------------------+------------------------------------------+
|route_efficiency|ECONOMY  |0.586264382388866  |{2025-04-23 20:10:00, 2025-04-23 20:25:00}|
|route_efficiency|LUXURY   |0.5008780255137506 |{2025-04-23 20:10:00, 2025-04-23 20:25:00}|
|route_efficiency|SUV      |0.5008777970136895 |{2025-04-23 20:05:00, 2025-04-23 20:20:00}|
|route_efficiency|POOL     |0.32765227232195027|{2025-04-23 20:10:00, 2025-04-23 20:25:00}|
|route_efficiency|POOL     |0.32765227232195027|{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
|route_efficiency|SUV      |0.5008777970136895 |{2025-04-23 20:10:00, 2025-04-23 20:25:00}|
|route_efficiency|LUXURY   |0.5008780255137506 |{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
|route_efficiency|POOL     |0.32765227232195027|{2025-04-23 20:05:00, 2025-04-23 20:20:00}|
|route_efficiency|ECONOMY  |0.586264382388866  |{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
|route_efficiency|SUV      |0.5008777970136895 |{2025-04-23 20:00:00, 2025-04-23 20:15:00}|
|route_efficiency|ECONOMY  |0.586264382388866  |{2025-04-23 20:05:00, 2025-04-23 20:20:00}|
|route_efficiency|LUXURY   |0.5008780255137506 |{2025-04-23 20:05:00, 2025-04-23 20:20:00}|
+----------------+---------+-------------------+------------------------------------------+

#

# Transformation 14: Pricing Analytics Anomalies (High-level)

In [ ]:
from pyspark.sql.functions import col, radians, sin, cos, atan2, sqrt, lit, when, unix_timestamp, window

R = 6371.0  # Earth radius in km

df_anomaly = df_passenger.withColumn("pickup_lat_rad", radians(col("pickup_latitude"))) \
    .withColumn("pickup_lon_rad", radians(col("pickup_longitude"))) \
    .withColumn("dropoff_lat_rad", radians(col("dropoff_latitude"))) \
    .withColumn("dropoff_lon_rad", radians(col("dropoff_longitude"))) \
    .withColumn("dlat", col("dropoff_lat_rad") - col("pickup_lat_rad")) \
    .withColumn("dlon", col("dropoff_lon_rad") - col("pickup_lon_rad")) \
    .withColumn("a", sin(col("dlat") / 2) ** 2 + cos(col("pickup_lat_rad")) * cos(col("dropoff_lat_rad")) * sin(col("dlon") / 2) ** 2) \
    .withColumn("c", 2 * atan2(sqrt(col("a")), sqrt(1 - col("a")))) \
    .withColumn("distance_km", R * col("c")) \
    .withColumn("duration_min", col("ride_duration") / 60.0) \
    .withColumn("expected_fare",
        when(col("vehicle_type") == "ECONOMY", 2.5 + 1.2 * col("distance_km") + 0.3 * col("duration_min"))
        .when(col("vehicle_type") == "LUXURY", 5.0 + 2.0 * col("distance_km") + 0.6 * col("duration_min"))
        .when(col("vehicle_type") == "SUV", 4.0 + 1.5 * col("distance_km") + 0.4 * col("duration_min"))
    ) \
    .withColumn("relative_error", (col("estimated_fare") - col("expected_fare")) / col("expected_fare")) \
    .withColumn("is_anomaly", col("relative_error") > 0.3) \
    .withColumn("timestamp", (col("timestamp") / 1000).cast("timestamp"))

df_anomaly.createOrReplaceTempView("fare_anomalies_view")

In [ ]:
anomaly_count_query = spark.sql("""
    SELECT
        'pricing_anomaly' AS metric_type,
        vehicle_type AS dimension,
        COUNT(*) AS metric_value,
        window(timestamp, '5 minutes') AS window_interval
    FROM fare_anomalies_view
    WHERE is_anomaly = true
    GROUP BY window(timestamp, '5 minutes'), vehicle_type
""")

anomaly_count_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("pricing_anomaly_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM pricing_anomaly_sql").show(truncate=False)

+---------------+---------+------------+------------------------------------------+
|metric_type    |dimension|metric_value|window_interval                           |
+---------------+---------+------------+------------------------------------------+
|pricing_anomaly|LUXURY   |2           |{2025-04-23 20:35:00, 2025-04-23 20:40:00}|
|pricing_anomaly|ECONOMY  |14          |{2025-04-23 20:35:00, 2025-04-23 20:40:00}|
+---------------+---------+------------+------------------------------------------+

# Transformation 15: Pricing analytics

In [ ]:
df_anomaly_area = df_anomaly.withColumn(
    "quadrant",
    when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") <= -73.95), "NE")
    .when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") > -73.95), "NW")
    .when((col("pickup_latitude") < 40.75) & (col("pickup_longitude") <= -73.95), "SE")
    .otherwise("SW")
)

df_anomaly_area.createOrReplaceTempView("fare_anomalies_area_view")

In [ ]:
anomaly_area_query = spark.sql("""
    SELECT
        'pricing_anomaly_area' AS metric_type,
        quadrant AS dimension,
        COUNT(*) AS metric_value,
        window(timestamp, '5 minutes') AS window_interval
    FROM fare_anomalies_area_view
    WHERE is_anomaly = true
    GROUP BY window(timestamp, '5 minutes'), quadrant
""")

anomaly_area_query.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("pricing_anomaly_area_sql") \
    .start()

In [ ]:
spark.sql("SELECT * FROM pricing_anomaly_area_sql").show(truncate=False)

+--------------------+---------+------------+------------------------------------------+
|metric_type         |dimension|metric_value|window_interval                           |
+--------------------+---------+------------+------------------------------------------+
|pricing_anomaly_area|NW       |21          |{2025-04-23 20:45:00, 2025-04-23 20:50:00}|
|pricing_anomaly_area|SW       |1           |{2025-04-23 20:40:00, 2025-04-23 20:45:00}|
|pricing_anomaly_area|SE       |35          |{2025-04-23 20:45:00, 2025-04-23 20:50:00}|
|pricing_anomaly_area|SW       |21          |{2025-04-23 20:45:00, 2025-04-23 20:50:00}|
|pricing_anomaly_area|NE       |30          |{2025-04-23 20:45:00, 2025-04-23 20:50:00}|
|pricing_anomaly_area|NE       |2           |{2025-04-23 20:40:00, 2025-04-23 20:45:00}|
+--------------------+---------+------------+------------------------------------------+

# Transformation 16: Driver Fairness Index (high-level)

The Driver Fairness Index (DFI) per area will show how fairly rides and revenue are distributed among drivers of the same vehicle type and quadrant

In [ ]:
from pyspark.sql.functions import col, from_unixtime, when, window

df_driver_fairness = df_passenger \
    .filter(col("status") == "COMPLETED") \
    .withColumn("timestamp", (col("timestamp") / 1000).cast("timestamp")) \
    .withColumn("quadrant",
        when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") <= -73.95), "NE")
        .when((col("pickup_latitude") >= 40.75) & (col("pickup_longitude") > -73.95), "NW")
        .when((col("pickup_latitude") < 40.75) & (col("pickup_longitude") <= -73.95), "SE")
        .otherwise("SW")
    )

df_driver_fairness.createOrReplaceTempView("driver_fairness_view")

In [ ]:
ride_counts = spark.sql("""
    SELECT
        driver_id,
        vehicle_type,
        quadrant,
        window(timestamp, '15 minutes') AS window_interval,
        COUNT(*) AS ride_count
    FROM driver_fairness_view
    GROUP BY driver_id, vehicle_type, quadrant, window(timestamp, '15 minutes')
""")

ride_counts.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("ride_counts_sql") \
    .start()

In [ ]:
earnings = spark.sql("""
    SELECT
        driver_id,
        vehicle_type,
        quadrant,
        window(timestamp, '15 minutes') AS window_interval,
        SUM(estimated_fare) AS earnings
    FROM driver_fairness_view
    GROUP BY driver_id, vehicle_type, quadrant, window(timestamp, '15 minutes')
""")

earnings.writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("earnings_sql") \
    .start()

In [ ]:
ride_df = spark.sql("SELECT * FROM ride_counts_sql")
earn_df = spark.sql("SELECT * FROM earnings_sql")

driver_stats = ride_df.join(earn_df, on=["driver_id", "vehicle_type", "quadrant", "window_interval"])
driver_stats.createOrReplaceTempView("driver_stats_view")

In [ ]:
fairness_index = spark.sql("""
    SELECT
        vehicle_type,
        quadrant,
        window_interval,
        STDDEV(ride_count) / AVG(ride_count) AS ride_fairness_index,
        STDDEV(earnings) / AVG(earnings) AS earnings_fairness_index
    FROM driver_stats_view
    GROUP BY vehicle_type, quadrant, window_interval
""")

fairness_index.show(truncate=False)

# Transformation 17: Unprofitable drivers

In [ ]:
from pyspark.sql.functions import col, from_unixtime, window, sum as sum_

# 1. Convert timestamps correctly
df_passenger_ts = df_passenger.withColumn(
    "timestamp_ts", from_unixtime(col("timestamp") / 1000).cast("timestamp")
)

# Optional: register a temp view (for SQL use)
df_passenger_ts.createOrReplaceTempView("passenger_events_view")

# 2. Filter completed trips, apply sliding window, and aggregate estimated fare
unprofitable_driver_df = df_passenger_ts \
    .filter(col("status") == "COMPLETED") \
    .withWatermark("timestamp_ts", "15 minutes") \
    .groupBy(
        window(col("timestamp_ts"), "5 minutes", "2 minutes"),
        col("driver_id")
    ) \
    .agg(sum_("estimated_fare").alias("total_fare"))

# 3. Write results to memory table for querying
query = unprofitable_driver_df \
    .writeStream \
    .outputMode("complete") \
    .format("memory") \
    .queryName("unprofitable_drivers_sql") \
    .start()

In [ ]:
spark.sql("SELECT COUNT(*) FROM unprofitable_drivers_sql").show()

In [ ]:
top5 = spark.sql("""
    SELECT *
    FROM unprofitable_drivers_sql
    ORDER BY total_fare ASC
    LIMIT 5
""").collect()

for row in top5:
    print(row)